<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<form role="form" @submit.prevent="saveAd">
    <div class="box-body">
        <div class="form-group">
            <label for="adTitle">Title</label>
            <input v-model="newAd.title" type="text"
                   name="title" required class="form-control"
                   id="adTitle" placeholder="Ad Title">
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="adStartDate">Starting On</label>
                    <input required v-model="newAd.startDate" type="date"
                           name="start_date" class="form-control"
                           id="adStartDate" placeholder="Start Date">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="adEndDate">Ending On</label>
                    <input required v-model="newAd.endDate" type="date"
                           name="end_date" class="form-control"
                           id="adEndDate" placeholder="End Date">
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="companyName">Name of Company</label>
            <select required v-model="newAd.company_id" name="company_name"
                    data-placeholder="Select company..."
                    class="form-control" id="companyName"  style="width: 100%;">
                <option v-for="company in companies"
                        :value="company.id">
                    @{{ company.name | capitalize }}
                </option>
            </select>
        </div>
        <div class="form-group">
            <label for="audio">Ad Audio file</label>
            <input required v-el:audio type="file"
                   name="audio" id="audio" class="form-control">
        </div>
    </div><!-- /.box-body -->

    <div class="box-footer">
        <button type="submit" class="btn btn-primary btn-block">
            <span class="fa fa-plus"></span>
            Create
        </button>
    </div>
</form>

    <div class="col-md-6">
    <!-- Custom Tabs (Pulled to the right) -->
    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs pull-right">
            <li class="active"><a href="#event_ad_tab" data-toggle="tab">Tab 1</a></li>
            <li><a href="#audio_ad_tab" data-toggle="tab">Tab 3</a></li>
            <li class="pull-left header"><i class="fa fa-th"></i> Custom Tabs</li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="event_ad_tab">

            </div><!-- /.tab-pane -->
            <div class="tab-pane" id="audio_ad_tab">

            </div><!-- /.tab-pane -->
        </div><!-- /.tab-content -->
    </div><!-- nav-tabs-custom -->
</div>
</body>
</html>